.footer-address__logo {
    display: block;
    margin-bottom: 20px;
  }
  
  .logo-third {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: $text-xl;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }