.header-container__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: $text-xl;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .logo-first {
    color: var(--accent-color);
  }
  
  .logo-second {
    color: var(--first-accent-color);
  }
  